@inherits LayoutComponentBase

<div class="page">   
    <div class="main">        
        <div class="top-row px-4" style="color:white; background-color:black">
            <span style="position:absolute; font-size:21px; left:10px; padding-left:10px;">☾rescent</span>
            <span hidden="@TopMenuUility.IsHideLoginMenu">
                <button class="btn btn-sm btn-outline-light" @onclick="GotoLogin">Login</button>
                <button class="btn btn-sm btn-outline-light" @onclick="GotoRegister">Register</button>
            </span>
            <span hidden="@(!TopMenuUility.IsHideLoginMenu)">
                <button class="btn btn-sm btn-outline-light" @onclick="GotoDashboard">Dashboard</button>
                <button class="btn btn-sm btn-outline-light" @onclick="GotoLogout">Logout</button>
            </span>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {

    public async Task GotoLogin()
    {
        Navigate.NavigateTo("Login");
        await Task.CompletedTask;
    }

    public async Task GotoRegister()
    {
        Navigate.NavigateTo("Register");
        await Task.CompletedTask;
    }

    public async Task GotoLogout()
    {
        await ProtectedSessionStore.DeleteAsync("Session");
        TopMenuUility.IsHideLoginMenu = false;
        Navigate.NavigateTo("Login");
        base.StateHasChanged();
        await Task.CompletedTask;
    }

    public async Task GotoDashboard()
    {
        Navigate.NavigateTo("Dashboard");
        await Task.CompletedTask;
    }

}
